<head>
    <title>AppWall</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" href="app.ico" />
</head>

<body>
    <h1 class="center">AppWall</h1>
    {{> form}}
    {{> posts}}
</body>