* {
    font-family: 'Raleway', sans-serif;
}

.grid-sizer, .grid-item {
    width: 32%;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

body {
    margin-left: 200px;
    margin-right: 200px;
}

img {
    width: 100%;
}

h1 {
    letter-spacing: 2em;
}